{{>navbar}}
<h1 class="title">Todos los productos</h1>

<form id="search-form">
    <label for="search">Buscar:</label>
    <input type="text" id="search" name="title" placeholder="Buscar por título">
    <button type="submit">Buscar</button>
  </form>

<div id="product-list">
  {{#each listProducts}}
  <article class="container">
    <div class="card">
      <div class="imgBx">
        <img src="{{this.image}}" width="150" />
      </div>
      <div class="contentBx">
        <h2>{{this.title}}</h2>
        <div class="size">
          <h3>{{this.description}}</h3>

        </div>
        <div class="color">
          <h3>Precio : </h3>
          <span class="soles">S/. {{this.price}} soles</span>

        </div>
        <a href="#">Buy Now</a>
      </div>
    </div>

  </article>

{{/each}}
</div>

 <div id="pagination">
    {{#if hasPreviousPage}}
      <a href="/products?page={{previousPage}}">Anterior</a>
    {{/if}}
    
    <span>Página {{currentPage}} de {{totalPages}}</span>
    
    {{#if hasNextPage}}
      <a href="/products?page={{nextPage}}">Siguiente</a>
    {{/if}}
  </div>

